<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
        <title>Vivero Federal: Nuevo producto</title>
        <link rel="stylesheet" href="../css/products/createProduct.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main>

            <section class="create-product">

                <!-- Título de la sección -->
                <h3 class="section-title">Crear producto</h3>

                <!-- Formulario -->
                <form class="new-product" action="#" method="POST">

                    <div class="data">
    
                        <label for="name">Nombre del producto: </label>
                        <input type="text" name="name" id="name" placeholder="Ej: Suculenta" required>
    
                        <label for="price">Precio: </label>
                        <input type="number" name="price" id="price" placeholder="AR$" required>
    
                        <label for="discount">Descuento: </label>
                        <input type="number" name="discount" id="discount" placeholder="Ej: 15" required>
    
                        <label for="image">Imagen: </label>
                        <input type="file" name="image" id="image" required>
    
                        <label for="category">Categoría: </label>
                        <select id="category" required>
                            <option value="" disabled selected>Elige una opción</option>
                            <option value="suc-cac">Suculentas y cactus</option>
                            <option value="interior">De interior</option>
                            <option value="exterior">De exterior</option>
                            <option value="pots">Macetas</option>
                            <option value="accesories">Accesorios</option>
                        </select>

                        <label for="description">Descripción: </label>
                        <textarea name="description" id="description" placeholder="Descripción larga del producto" required></textarea>

                    </div>
                    
                    <button type="submit" id="submit">Crear producto</button>

                </form>

            </section>

        </main>

        <%- include('../partials/footer') %>

</body>

</html>