<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vivero Federal: Carrito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../css/productCart.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main>

            <form class="cart" action="#" method="GET">

                <section class="products">
                    <!-- Productos -->
                    <h3 class="section-title">Carrito de compras</h3>
                    <!-- Listado -->
                    <div class="products-list">
                        <article>
                            <img src="../images/products/suculenta.jpg" alt="Suculenta" class="product_img">
                            <div class="article">
                                <p class="description">Suculenta</p>
                                <div class="article-details">
                                    <div class="quantity">
                                        <button type="button" name="more"><i class="fas fa-minus"></i></button>
                                        <input class="quantity-input" type="text" name="quantity" id="quantity"
                                            value="15">
                                        <button type="button" name="less"><i class="fas fa-plus"></i></button>
                                    </div>
                                    <div class="total">
                                        <p class="price">$550</p>
                                        <button type="button" name="delete"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <img src="../images/products/cactus.jpg" alt="Cactus" class="product_img">
                            <div class="article">
                                <p class="description">Cactus</p>
                                <div class="article-details">
                                    <div class="quantity">
                                        <button type="button" name="more"><i class="fas fa-minus"></i></button>
                                        <input class="quantity-input" type="text" name="quantity" id="quantity"
                                            value="20">
                                        <button type="button" name="less"><i class="fas fa-plus"></i></button>
                                    </div>
                                    <div class="total">
                                        <p class="price">$800</p>
                                        <button type="button" name="delete"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="delivery">
                    <label id="cp">Envío: </label>
                    <input class="cp" type="number" name="cp" id="cp" placeholder="Código postal">
                    <button type="menu" name="calculate">Calcular</button>
                </section>

                <section class="subtotal">
                    <p class="title">Subtotal: </p>
                    <p class="value">$ 1.350</p>
                </section>

                <section class="submit">
                    <button type="submit" name="buy">Comprar</button>
                    <a href="/products">Ver más productos</a>
                </section>

            </form>

        </main>

        <%- include('../partials/footer.ejs') %>

</body>

</html>