<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
    <title>Vivero Federal: Carrito</title>
    <link rel="stylesheet" href="/css/products/productCart.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main>

            <form class="cart" action="#" method="GET">

                <section class="products">
                    <!-- Título -->
                    <h3 class="section-title">Carrito de compras</h3>
                    <!-- Listado -->
                    <div class="products-list">
                        <article>
                            <img src="../images/products/suculenta.jpg" alt="Suculenta" class="product_img">
                            <div class="article">
                                <a href="/products/1"><p class="name">Suculenta</p></a>
                                <div class="article-details">
                                    <div class="quantity">
                                        <button class="less" type="button" name="less" id="less"><i class="fas fa-minus"></i></button>
                                        <input class="quantity-input" type="text" name="quantity" id="quantity"
                                            value="15">
                                        <button class="more" type="button" name="more" id="more"><i class="fas fa-plus"></i></button>
                                    </div>
                                    <div class="total">
                                        <p class="price">$550</p>
                                        <button type="button" name="delete"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <img src="../images/products/cactus.jpg" alt="Cactus" class="product_img">
                            <div class="article">
                                <a href="/products/1"><p class="name">Cactus</p></a>
                                <div class="article-details">
                                    <div class="quantity">
                                        <button type="button" name="more"><i class="fas fa-minus"></i></button>
                                        <input class="quantity-input" type="text" name="quantity" id="quantity"
                                            value="20">
                                        <button type="button" name="less"><i class="fas fa-plus"></i></button>
                                    </div>
                                    <div class="total">
                                        <p class="price">$800</p>
                                        <button type="button" name="delete"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>

                <!-- Calcular envío -->
                <section class="delivery">
                    <label id="cp">Envío: </label>
                    <input class="cp" type="number" name="cp" id="cp" placeholder="Código postal">
                    <button type="menu" name="calculate">Calcular</button>
                </section>

                <!-- Subtotal -->
                <section class="subtotal">
                    <p class="title">Subtotal: </p>
                    <p class="value">$ 1.350</p>
                </section>

                <!-- Botón -->
                <section class="submit">
                    <button type="submit" name="buy">Comprar</button>
                    <a href="/products">Ver más productos</a>
                </section>

            </form>

        </main>

        <%- include('../partials/footer.ejs') %>

</body>

</html>