/* Global settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #3C6255;
    background-color: #FFFBE9;
    min-height: 100vh;
}


/* Eliminamos colores en los links visitados */

main a:visited {
    color: #3C6255;
}


/* Main */

main {
    margin: auto;
    margin-top: 165px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    max-width: 1280px;
    width: 100%;
}

main h3.section-title {
    margin: 10px;
    margin-block: 25px;
    text-align: center;
}

main h3.section-title:before {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}

main h3.section-title:after {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}


/* Formulario */

main section.edit-user form.edit-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 700px;
    margin: auto;
}

main section.edit-user form.edit-user div.data {
    background-color: #DAE2B6;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}

main section.edit-user form.edit-user div.data div.field {
    width: 100%;
    position: relative;
}

main section.edit-user form.edit-user div.data div.field select {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    border: #3C6255 solid 2px;
    border-radius: 5px;
    padding: 3px;
    margin-inline: 3px;
    font-weight: bold;
    color: #3C6255;
}

main section.edit-user form.edit-user div.data div.field input {
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

main section.edit-user form.edit-user div.data div.field textarea {
    height: 150px;
}

main section.edit-user form.edit-user div.data div.field p.live-error {
    position: absolute;
    margin: 5px;
    padding: 2px;
    top: 30px;
    right: 0px;
    text-align: right;
    font-size: 12px;
    background-color: white;
    color: #a84d36;
    pointer-events: none;
}

main section.edit-user form.edit-user div.data div.field p.live-error-image {
    position: absolute;
    margin: 5px;
    padding: 2px;
    top: 32px;
    right: 0px;
    text-align: right;
    font-size: 12px;
    background-color: #DAE2B6;
    color: #a84d36;
    pointer-events: none;
}

main section.edit-user form.edit-user button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0px 30px;
    width: 100%;
    color: #3C6255;
    background-color: #CCD6A6;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

main section.edit-user form.edit-user button:hover {
    filter: brightness(85%);
}

main section.edit-user form.edit-user button:active {
    top: 2px;
}

main section.edit-user form.edit-user div.errors {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 20px 10px;
}

main section.edit-user form.edit-user div.errors p.error {
    margin: 3px 20px;
    font-size: 14px;
    color: #a84d36;
}


/* Celus más grandes */

@media (min-width: 481px) {}


/* Tablets y netbooks */

@media (min-width: 769px) {

    main section.edit-user form.edit-user div.data div.field input {
        font-size: 14px;
    }

    main section.edit-user form.edit-user div.data div.field p.live-error {
        font-size: 14px;
    }

    main section.edit-user form.edit-user div.data div.field p.live-error-image {
        font-size: 14px;
    }

    main section.edit-user form.edit-user button {
        font-size: 14px;
    }

}

/* Notebooks */

@media (min-width: 1024px) {

    /* Main */

    main {
        margin-top: 115px;
    }

}