/* Global settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #3C6255;
    background-color: #FFFBE9;
    min-height: 100vh;
}


/* Eliminamos colores en los links visitados */

main a:visited {
    color: #3C6255;
}


/* Main */

main {
    margin: auto;
    margin-top: 165px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    max-width: 1280px;
    width: 100%;
    text-align: center;
}

main h3.section-title {
    margin: 10px;
    margin-block: 25px;
    text-align: center;
}

main h3.section-title:before {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}

main h3.section-title:after {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
    align-items: center;
}


/* Listado */

main section.profile {
    width: 100%;
    max-width: 800px;
}

main section.profile form.search {
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
}

main section.profile form.search input {
    font-size: 14px;
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: white;
}

main section.profile form.search button {
    border: none;
    background: none;
    position: absolute;
    right: 5px;
    top: 6px;
    cursor: pointer;
    animation: move-right 10s infinite;
    animation-delay: 3s;
}

main section.profile div.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    padding-inline: 30px;
    width: 95%;
}

main section.profile div.list article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-block: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #DAE2B6;
}

main section.profile div.list article p {
    font-weight: bold;
}

main section.profile div.list article a {
    color: #3C6255;
}

main section.profile div.list article a:visited {
    color: #3C6255;
}

main section.profile div.all-elements {
    margin-block: 20px;
}


/* Páginas */

main section.profile div.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

main section.profile div.pages a {
    font-size: 14px;
    text-align: center;
    margin: 15px;
    color: #3C6255;
}


/* Celus más grandes */

@media (min-width: 481px) {}


/* Tablets y netbooks */

@media (min-width: 769px) {

}


/* Notebooks*/

@media (min-width: 1024px) {

    /* Main */
    main {
        margin-top: 115px;
    }

}