<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs') %>
	<title>Vivero Federal: 404</title>
	<link rel="stylesheet" href="/css/main/notFound.css">
</head>

<body>

	<%- include('../partials/header.ejs') %>

	<main>

		<div>
            <p>Consulta nuestros endpoints:</p> </br>
            <a href="/api/users">Listado de usuarios.</a> </br>
            <a href="/api/products">Listado de productos.</a>
        </div>

	</main>

	<%- include('../partials/footer') %>

</body>

</html>