<footer>

    <div class="footer">

        <section class="navigation">
            <!-- Navegación -->
            <h4 class="footer-title">Navegación</h4>
            <!-- Lista -->
            <ul class="nav-menu" type="none">
                <li><a href="/products"><i class="fas fa-seedling"></i> Productos</a></li>
                <li><a href="../#categories"><i class="fas fa-bars"></i> Categorías</a></li>
                <li><a href="../#contact"><i class="fas fa-inbox"></i> Contacto</a></li>
            </ul>
        </section>

        <section class="payment-options">
            <!-- Medios de pago -->
            <h4 class="footer-title">Medios de pago</h4>
            <!-- Lista -->
            <ul class="list" type="none">
                <li><i class="fas fa-money-check"></i> Tarjetas de crédito y débito</i></li>
                <li><i class="fas fa-exchange-alt"></i> Transferencia</li>
                <li><i class="fas fa-money-bill"></i> Efectivo en puntos de pago</li>
            </ul>
        </section>

        <section class="contact">
            <!-- Contacto -->
            <h4 class="footer-title">Contacto</h4>
            <!-- Lista -->
            <ul class="list" type="none">
                <li><a href="#"><i class="fas fa-phone"></i> +54 9 387 4522805</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i> info@viverofederal.com.ar</a></li>
                <li><a href="#"><i class="fas fa-map-pin"></i> Entre Ríos 1156, Salta</a></li>
                <li><a href="#"><i class="fas fa-map-pin"></i> Caseros 2354, Córdoba</a></li>
            </ul>
        </section>

        <section class="social-media">
            <!-- Redes sociales -->
            <h4 class="footer-title">Redes sociales</h4>
            <!-- Lista -->
            <ul class="list" type="none">
                <li><a href="#"><i class="fab fa-instagram"></i> viverofederal</a></li>
                <li><a href="#"><i class="fab fa-facebook"></i> viverofederal.ok</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i> viverofederal.ok</a></li>
            </ul>
        </section>

        <!-- Botón WhatsApp-->
        <section class="whatsapp">
            <a href="#"><i class="fab fa-whatsapp"></i></a>
        </section>

    </div>

</footer>