<header>
    <!-- Barra de navegación superior -->
    <div class="top-header">
        <!-- Logo, login y carrito -->
        <div class="first-row">
            <a href="/"><img src="/images/logo.png" alt="Logo de ViveroFederal"></a>
            <!-- Menú (escondido por defecto) -->
            <ul class="nav-menu-top" type="none">
                <li><a href="/products">Productos  <i class="fas fa-seedling"></i></a></li>
                <p>|</p>
                <li><a href="../#categories">Categorías  <i class="fas fa-bars"></i></i></a></li>
                <p>|</p>
                <li><a href="../#contact">Contacto  <i class="fas fa-inbox"></i></a></li>
            </ul>
            <!-- Íconos derecha -->
            <div class="right-icons">
                <a href="/users/login"><i class="fas fa-user"></i></a>
                <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
                <% if(locals.userLogged && locals.userLogged.category == 'admin') { %>
                <a href="/products/createProduct"><i class="fas fa-plus"></i></a>
                <a href="/users/panel"><i class="fas fa-columns"></i></a>
                <% } %>
            </div>
        </div>
        <!-- Menú de la barra superior -->
        <nav class="navbar">
            <ul class="nav-menu" type="none">
                <li><a href="/products">Productos  <i class="fas fa-seedling"></i></a></li>
                <p>|</p>
                <li><a href="../#categories">Categorías  <i class="fas fa-bars"></i></i></a></li>
                <p>|</p>
                <li><a href="../#contact">Contacto  <i class="fas fa-inbox"></i></a></li>
            </ul>
        </nav>
        <!-- Barra de búsqueda -->
        <form class="search-form" action="#" method="GET">
            <input class="search-input" type="text" name="search" placeholder="Buscar plantas o accesorios..." required>
            <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>