<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs') %>
	<title>Vivero Federal: 404</title>
	<link rel="stylesheet" href="/css/main/notFound.css">
</head>

<body>

	<%- include('../partials/header.ejs') %>

	<main>

		<div>
            <p>La página en cuestión no ha sido encontrada.</p>
            <a href="/">Volver al home.</a>
        </div>

	</main>

	<%- include('../partials/footer') %>

</body>

</html>