/* Global settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #3C6255;
    background-color: #FFFBE9;
    min-height: 100vh;
}


/* Eliminamos colores en los links visitados */

main a:visited {
    color: #3C6255;
}


/* Main */

main {
    margin: auto;
    margin-top: 165px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    max-width: 1280px;
    width: 100%;
}

main h3.section-title {
    margin: 10px;
    margin-block: 25px;
    text-align: center;
}

main h3.section-title:before {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}

main h3.section-title:after {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}


/* Formulario */

main section.create-product form.new-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 700px;
    margin: auto;
}

main section.create-product form.new-product div.data {
    background-color: #DAE2B6;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}

main section.create-product form.new-product div.data select {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    border: #3C6255 solid 2px;
    border-radius: 5px;
    padding: 3px;
    margin-inline: 3px;
    font-weight: bold;
    color: #3C6255;
}

main section.create-product form.new-product div.data input,
main section.create-product form.new-product div.data textarea {
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

main section.create-product form.new-product div.data textarea {
    height: 150px;
}

main section.create-product form.new-product button {
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0px 30px;
    width: 100%;
    color: #3C6255;
    background-color: #CCD6A6;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

main section.create-product form.new-product button:hover {
    filter: brightness(85%);
}

main section.create-product form.new-product button:active {
    top: 2px;
}


/* Celus más grandes */

@media (min-width: 481px) {}


/* Tablets y netbooks */

@media (min-width: 769px) {}

/* Notebooks */

@media (min-width: 1024px) {

    /* Main */

    main {
        margin-top: 115px;
    }

}