/* Global settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #3C6255;
    background-color: #FFFBE9;
    min-height: 100vh;
}


/* Eliminamos colores en los links visitados */

main a:visited {
    color: #3C6255;
}


/* Main */

main {
    margin-top: 165px;
}

main section {
    max-width: 1280px;
    margin: auto;
}

main h3.section-title {
    margin: 10px;
    margin-block: 25px;
    text-align: center;
}

main h3.section-title:before {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}

main h3.section-title:after {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}


/* Detalles del producto */ 

main section.product-details div.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    background-color: #DAE2B6;
    border-radius: 10px;
}


/* Imágenes */

main section.product-details div.details div.product-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

main section.product-details div.details div.product-images div.side-images {
    display: flex;
    flex-direction: column;
    width: 15%;
}

main section.product-details div.details div.product-images div.side-images img {
    width: 100%;
    margin-block: 10px;
    border-radius: 5px;
}

main section.product-details div.details div.product-images div.big-image {
    width: 83%;
}

main section.product-details div.details div.product-images div.big-image img {
    width: 100%;
    border-radius: 10px;
}


/* Detalles */

main section.product-details div.details div.product-name-price {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-inline: 10px;
}

main section.product-details div.details div.product-name-price p.name {
    font-size: 24px;
    font-weight: bold;
    margin-block-end: 10px;
}

main section.product-details div.details div.product-name-price p.price {
    font-size: 20px;
    margin-block: 10px;
}

main section.product-details div.details div.product-name-price p.price span {
    text-decoration: line-through;
    margin-right: 20px;
}

main section.product-details div.details div.product-name-price h2 {
    margin-block-end: 10px;
}


/* Medios de pago */

main section.product-details div.details div.product-name-price div.payment-methods {
    display: flex;
    flex-direction: row;
    margin: 0px 10px 10px 0px;
    width: fit-content;
}

main section.product-details div.details div.product-name-price div.payment-methods div.icons i {
    margin-inline: 0px; 
    transition: all 0.5s;
}

main section.product-details div.details div.product-name-price div.payment-methods:hover div.icons i {
    margin-inline: 2px; 
}

main section.product-details div.details div.product-name-price div.payment-methods a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #3C6255;
}

main section.product-details p.line {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    opacity: 0.5;
    width: 100%;
}


/* Tipo y cantidad */

main section.product-details div.details div.product-name-price form {
    display: flex;
    flex-direction: column;
}

main section.product-details div.details div.product-name-price form div.selection {
    margin-block: 10px;
}

main section.product-details div.details div.product-name-price form div.selection select {
    border: #3C6255 solid 2px;
    border-radius: 5px;
    padding: 2px;
    margin-inline: 3px;
    font-weight: bold;
    color: #3C6255;
    cursor: pointer;
}

main section.product-details div.details div.product-name-price form div.quantity {
    margin-block: 10px;
}

main section.product-details div.details div.product-name-price form div.quantity input {
    width: 55px;
    height: 26px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #CCD6A6;
    margin: 2px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

main section.product-details div.details div.product-name-price form div.quantity input::-webkit-inner-spin-button,
main section.product-details div.details div.product-name-price form div.quantity input::-webkit-outer-spin-button {
    opacity: 1;
}


/* Envío */

main section.product-details div.details div.product-name-price form div.shipping {
    display: flex;
    flex-direction: row;
    margin-block: 10px;
    width: fit-content;
}

main section.product-details div.details div.product-name-price form div.shipping a {
    margin-right: 10px;
    color: #3C6255;
}

main section.product-details div.details div.product-name-price form div.shipping i {
    position: relative;
    left: 0px;
    transition: all 1s;
}

main section.product-details div.details div.product-name-price form div.shipping:hover i {
    left: 30px;
}

main section.product-details div.details div.product-name-price form a {
    text-decoration: none;
    font-size: 14px;
    color: #3C6255;
}

main section.product-details div.details div.product-name-price form button.add-to-cart {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-block: 10px;
    color: #3C6255;
    background-color: #CCD6A6;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

main section.product-details div.details div.product-name-price form button.add-to-cart:hover {
    filter: brightness(85%);
}

main section.product-details div.details div.product-name-price form button.add-to-cart:active {
    top: 2px;
}


/* Añadir a favorito */

main section.product-details div.details div.product-name-price form.add-to-favorites button.favorite {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-block: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #3C6255;
}

main section.product-details div.details div.product-name-price form.add-to-favorites button.favorite i {
    position: relative;
    bottom: 0px;
    transition: all 0.5s;
}

main section.product-details div.details div.product-name-price form.add-to-favorites button.favorite:hover i {
    bottom: 5px;
}


/* Editar y eliminar producto */

main section.product-details div.details div.product-name-price form.edit {
    margin-block: 5px;
}

main section.product-details div.details div.product-name-price form.edit a.edit-product {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-block: 5px;
    color: #8b4810;
    background-color: #e0a574;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

main section.product-details div.details div.product-name-price form.edit a.edit-product:hover {
    filter: brightness(85%);
}

main section.product-details div.details div.product-name-price form.edit a.edit-product:active {
    top: 2px;
}

main section.product-details div.details div.product-name-price form button.delete {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-block: 5px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    color: #a84d36;
    background-color: #ec9a8b;
}

main section.product-details div.details div.product-name-price form button.delete:active {
    top: 2px;
}


/* Compartir */

main section.product-details div.details div.product-name-price div.share {
    text-align: center;
    margin-block: 10px;
}

main section.product-details div.details div.product-name-price div.share p {
    text-decoration: none;
    font-size: 14px;
    color: #3C6255;
}

main section.product-details div.details div.product-name-price div.share i {
    margin: 5px;
    transition: all 0.5s
}

main section.product-details div.details div.product-name-price div.share i {
    color: #3C6255;
}

main section.product-details div.details div.product-name-price div.share i:hover {
    transform: rotate(360deg);
}


/* Descripción */

main section.product-details div.description {
    margin: 30px 20px 50px;
}

main section.product-details div.description p.title {
    font-size: 20px;
    margin-bottom: 5px;
}

main section.product-details div.description p.text {
    font-size: 16px;
    text-align: justify;
}

/* Productos relacionados */

main section.related-products div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-block: 20px;
} 

main section.related-products div.products article {
    padding: 10px;
    width: 20%;
    align-self: center;
    margin: 20px;
    background-color: #DAE2B6;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgb(100, 100, 100);
    transition: all 0.5s;
} 

main section.related-products div.products article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
} 

main section.related-products div.products article img {
    width: 100%;
    border-radius: 10px;
} 

main section.related-products div.products article a {
    text-decoration: none;
    color: #3C6255;
} 

main section.related-products div.products article p,
main section.related-products div.products article h4 {
    padding-top: 8px;
}

main section.related-products div.more-products {
    display: flex;
    justify-content: center;
}

main section.related-products div.more-products a {
    font-size: 14px;
    text-align: center;
    margin: 15px 0px 30px;
    color: #3C6255;
}


/* Celus más grandes */

@media (min-width: 481px) {

    /* Main */

   

}


/* Tablets y netbooks */

@media (min-width: 769px) {

    /* Main */

    main section.product-details div.details div.product-images {
        width: 60%;
    }

    main section.product-details div.details div.product-name-price {
        width: 37%;
        margin-top: 0px;
    }

}


/* Notebooks */

@media (min-width: 1024px) {

    /* Main */
    
    main {
        margin-top: 115px;
    }

}