/* Global settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #3C6255;
    background-color: #FFFBE9;
    min-height: 100vh;
}


/* Main */


.far {
    color: black;
    padding: 0.75%;
}

a {
    text-decoration: none;
    color: #3C6255;
    font-weight: bold;
}

.description,
.precio {
    font-size: 16px;
    color: #3C6255;
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    background-color: #FFFBE9;
    color: #3C6255;
}

main {
    width: 90%;
    margin-top: 140px;
    padding: 5px;
    margin-left: 10px;

}

.Det-Prod {
    display: flex;
    font-size: 12 px;

}


h4 {
    text-align: center;
    font-size: 16px;
}


.products article {
    width: 20%;
    margin: 8px;
    margin-bottom: 40px;
    background-color: #DAE2B6;
    text-align: center;

}

.boton-products {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    height: 15%;
    padding: 5px;
}

.mas-vendidos {
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.products article .main-article .fas {
    display: none;
    color: #3C6255;

}

.products article:hover .fas {
    display: block;


}

.products article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: 100ms;
}


.products article img {
    width: 100%;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
}

.Filtros {
    font-weight: bold;

}


.Categorias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    align-items: stretch;

}

.negrita {
    font-weight: bolder;
    font-size: 22px;

}

.negrita1 {
    font-weight: bold;
    font-size: 20px;
}

.box {
    font-size: 16px;
    display: contents;
    flex-direction: column;
}

input {
    vertical-align: middle;

}

.nav-bar {
    display: none;
}

.filtrar {
    display: flex;
    flex-direction: row-reverse;
}

main .button-prod .submit a {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin: 20px 0px;
    color: #3C6255;
}

.index a {
    color: #3C6255;
}


/* Celus más grandes */

@media (min-width: 481px) {

    /* Main */

    main {
        margin-top: 160px;
    }

}


/* Tablets y netbooks */

@media (min-width: 769px) {

    /* Main */

    main {
        margin-top: 160px;
    }


    .nav-bar {
        display: block;
    }


    .filtrar {
        display: none;
    }

}

/* Notebooks */

@media (min-width: 1024px) {

    /* Main */

    main {
        margin-top: 120px;
    }


    .products article {
        width: 20%;
    }

}