/* Global settings */ /* hoja de estilos - detalle del producto */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #3C6255;
    background-color: #FFFBE9;
    min-height: 100vh;
}


/* Main */

h3.section-title {
    margin: 10px; 
    margin-top: 179px;
    text-align: center;
    color: #3C6255;
}

h3.section-title:before {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}

h3.section-title:after {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}

main section.main-product {
    width: 90%;
    margin: auto;
    margin-top: 5%;
    background-color: #DAE2B6;
    color: #3C6255;
    padding: 10px 10px 30px;
    border-radius: 5px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.images-main-product { width: 100% }

.product-second-img, .product-third-img {
    display: none
}

.product-first-img {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
}

.product-description h4.description { 
    font-size: 1.625rem;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.product-price h5.price { 
    font-size: 1.375rem;
    font-weight: normal;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
}

.methods { width: 100% }

.shipping-means { 
    width: 40%;
    display: flex;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5%;
    margin-right: 60%;
    margin-bottom: 2%;
    padding: 1%;
    justify-content: space-evenly;
}

.shipping-means-icon {
    color: #3C6255;
    font-size: 1rem;
}

.shipping-means-text a {
    font-weight: bold;
    align-self: flex-end;
    font-size: 1rem;
    color: #3C6255;
    text-decoration: none;
}

.payment-methods {
    width: 100%;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    flex-wrap: wrap;
}

.payment-methods-icon, .payment-methods-text {
    font-size: 1rem;
    font-weight: bold;
    }

.payment-methods-text { 
    margin-right: 20%;
    margin-left: 2%;
}

.payment-methods-subtitle {
    font-size: 0.60rem;
    font-style: italic;
}

.line {
    border-top: #3C6255 solid 2px;
    width: 100%;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

form.product-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}

.customer-selection {
    width: 100%;
    display: flex;
    }

div.product-size {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20%;
}

label.size {
    width: 30%;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
}

select#tamaño {
    width: 70%;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 0px;
    font-size: 0.625rem;
    text-align: center;
    color: #3C6255;
}

div.quantity {
    width: 50%;
    display: block;
    text-align: center;
}

div.quantity button {
    height: 85%;
    text-align: center;
    color: #3C6255;
    background-color: #CCD6A6;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

div.quantity input {
    width: 30px;
    height: 85%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #CCD6A6;
    margin: 2px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.add-to-cart-button {
    width: 100%;
    padding: 10px 5px;
    margin: 5% 0%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: cadetblue;
}

.extra-selections {
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.share-product, .favorite-product {
    display: flex;
}

.share-product-icon, .favorite-product-icon {
    color: black;
    padding: 0.75%;
}

.share-product-text, .favorite-product-text {
    padding: 0.75%;
    margin: 0% 1%;
}

.share-product-text a, .favorite-product-text a {
    color: #3C6255;
    font-size: 0.75rem;
    text-decoration: none;
}

.postcode { width: 100%; }

.delivery {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.delivery #cp.cp {
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

.delivery button {
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-inline: 10px 30px;
    color: #3C6255;
    background-color: #CCD6A6;
}

.postcode-subtitle {
    margin: 5px 0px;
}

.postcode-subtitle a {
    font-size: 0.60rem;
    font-style: italic;
    color: #3C6255;
}

main section.information {
    width: 90%;
    margin: auto;
    margin-top: 5%;
    background-color: #DAE2B6;
    color: #3C6255;
    padding: 10px 10px 30px;
    border-radius: 5px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}


/* productos relacionados */

section.related-products {
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    padding: 5px;
    color: #3C6255;
    border-radius: 5px;
}

section.related-products h3.section-title {
    margin: 10px;
    text-align: center;
    color: #3C6255;
}

div.categories-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 5px;
    margin-inline: 5px;
}

div.categories-list article {
    width: 22.5%;
    text-align: center;
    padding: 5px;
    background-color: #DAE2B6;
    color: #3C6255;
    border-radius: 5px;
}

div.categories-list article img {
    width: 100%;
    border-radius: 5px;
}


/* info adicional */

section.additional-information {
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    padding: 5px;
    color: #3C6255;
    border-radius: 5px;
}

section.additional-information article {
    margin: 2% 0%;
}

section.additional-information article .icono-anuncio-complementario {
    font-size: 1.5rem;
    padding: 2%;
}

section.additional-information article h4, section.additional-information article p {
    padding: 1%;
}


/* arreglo provisorio */

.category-img { width: 95vw }


/* Celus más grandes */

@media (min-width: 481px) {

    /* Main */

    main section.categories div.categories-list p {
        font-size: 14px;
    }

    main section.top-sellers div.products article {
        width: 48%;
        margin: 1%;
    }

    main section.contact form.contact {
        flex-direction: column;
    }

    main section.contact ul.list {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    main section.contact ul.list li {
        font-size: 16px;
        margin-bottom: 6px;
        margin-left: 4px;
        white-space: nowrap;
    }

    main section.contact ul.list li i {
        text-align: center;
        min-width: 15px;
    }

}


/* Tablets y netbooks */

@media (min-width: 769px) {

    /* Main */

    main section.categories div.categories-list p {
        font-size: 16px;
    }

    main section.top-sellers div.products article {
        width: 24%;
        margin: 0.5%;
    }

    main section.contact form.contact input {
        font-size: 14px;
    }

}


/* Notebooks */

@media (min-width: 1024px) {}