/* Global settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #3C6255;
    background-color: #FFFBE9;
    min-height: 100vh;
}


/* Eliminamos colores en los links visitados */

main a:visited {
    color: #3C6255;
}


/* Main */

main {
    margin-top: 165px;
}

main section {
    max-width: 1280px;
    margin: auto;
}

main h3.section-title {
    margin: 10px;
    margin-block: 25px;
    text-align: center;
}

main h3.section-title:before {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}

main h3.section-title:after {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}


/* Ordenador*/

main section.all-products div.order-by {
    display: none;
} 

main section.all-products div.order-by label {
    font-weight: bold;
} 

main section.all-products div.order-by select {
    border: #3C6255 solid 2px;
    border-radius: 5px;
    padding: 3px;
    margin-inline: 3px;
    font-weight: bold;
    color: #3C6255;
    cursor: pointer;
} 

main section.all-products div.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
} 


/* Botón filtrar */

main section.all-products div.filter-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: 15px 30px;
} 

main section.all-products div.filter-button a {
    text-decoration: none;
    font-weight: bold;
    color: #3C6255;
} 

main section.all-products div.filter-button label {
    font-weight: bold;
} 


/* Filtros */

main section.all-products div.list div.filters {
    display: none;
} 

main section.all-products div.list div.filters div {
    margin-block: 30px;
} 

main section.all-products div.list div.filters p {
    font-weight: bold;
    margin-block: 5px;
} 

main section.all-products div.list div.filters ul {
    list-style: none;
} 

main section.all-products div.list div.filters li {
    margin-block: 5px;
} 

main section.all-products div.list div.filters a {
    text-decoration: none;
    font-size: 14px;
    color: #3C6255;
} 


/* Productos */

main section.all-products div.list div.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
} 

main section.all-products div.list div.no-results p.warning {
    margin: 32px;
    width: 100%;
    text-align: center;
} 

main section.all-products div.list div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
} 

main section.all-products div.list div.products article {
    padding: 10px;
    width: 100%;
    margin: 2%;
    align-self: center;
    background-color: #DAE2B6;
    border-radius: 5px;
} 

main section.all-products div.list div.products article img {
    width: 100%;
    border-radius: 10px;
} 

main section.all-products div.list div.products article a {
    text-decoration: none;
    color: #3C6255;
} 


main section.all-products div.list div.products div.main-article {
    position: relative;
}

main section.all-products div.list div.products div.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main section.all-products div.list div.products p.discount {
    font-weight: bold;
    margin-right: 10px;
    color: #57917c;
}

main section.all-products div.list div.products h4 {
    margin-top: 8px;
    margin-bottom: 4px;
}

main section.all-products div.list div.products p.detail {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 8px;
}

main section.all-products div.list div.products article button {
    opacity: 0.7;
    background-color: #FFFBE9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main section.all-products div.list div.products article button.favorite {
    position: absolute;
    right: 42px;
    bottom: 84px;
}

main section.all-products div.list div.products article button.cart {
    position: absolute;
    right: 5px;
    bottom: 84px;
}

main section.all-products div.list div.products article i {
    padding: 5px;
    font-size: 20px;
    color: #3C6255;
}


/* Más productos */

main section.all-products div.more-products {
    width: 100%;
    text-align: center;
    margin-block: 15px;
}

main section.all-products div.more-products a {
    font-size: 14px;
    text-align: center;
    margin: 15px 0px;
    color: #3C6255;
}



/* Celus más grandes */

@media (min-width: 481px) {

    /* Ordenador */

    main section.all-products div.order-by {
        display: block;
        text-align: right;
        margin: 15px 30px;
    } 


    /* Botón filtrar */

    main section.all-products div.filter-button {
        display: none;
    } 


    /* Filtros */

    main section.all-products div.list div.filters {
        display: block;
        width: 15%;
    } 

    main section.all-products div.list div.products {
        width: 80%;
    } 

}


/* Tablets y netbooks */

@media (min-width: 769px) {

    /* Productos */

    main section.all-products div.list div.products article {
        width: 30%;
        margin: 5px;
    } 

    main section.all-products div.list div.products article {
        box-shadow: 0px 0px 0px rgb(100, 100, 100);
        transition: all 0.5s;
    } 
    
    main section.all-products div.list div.products article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    } 

    main section.all-products div.list div.products article button {
        opacity: 0.25;
        transition: all 0.5s;
    }
    
    main section.all-products div.list div.products article:hover button {
        opacity: 1;
    } 
        
    main section.all-products div.list div.products article button:hover {
        bottom: 88px;
    }


    /* Más productos */
    
    main section.all-products div.more-products a {
        font-size: 16px;
        color: #3C6255;
    }

}


/* Notebooks */

@media (min-width: 1024px) {

    /* Main */

    main {
        margin-top: 115px;
    }

    
    /* Productos */

    main section.all-products div.list div.products article {
        width: 23%;
        margin: 5px;
    } 

}