/* Global settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Eliminamos colores en los links visitados */

footer a:visited {
    color: #3C6255;
}

/* Transición general */

footer i {
    transition: all 0.5s;
}

footer a:hover i {
    transform: rotate(360deg);
}

/* Footer */

footer {
    background-color: #F4EAD5;
    margin-top: auto;
    z-index: 1000;
}

footer div.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 16px;
    max-width: 1280px;
    margin: auto;
}

footer h4.footer-title {
    font-size: 16px;
    padding: 16px 16px 8px;
}

footer section {
    margin-bottom: 16px;
    width: 100%;
}

footer section.navigation ul.nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

footer section.navigation ul.nav-menu li {
    padding: 8px;
    padding-left: 24px;
}

footer section ul.list li {
    padding: 8px;
    padding-left: 24px;
    font-size: 14px;
}

footer section.navigation ul.nav-menu a {
    text-decoration: none;
    color: #3C6255;
    font-size: 14px;
    width: 100%;
}

footer section.navigation i {
    position: relative;
    bottom: 0px;
    transition: all 0.3s;
}

footer section.navigation a:hover i {
    bottom: 3px;
    transform: rotate(0deg);
}

footer section.contact ul.list i {
    text-decoration: none;
    color: #3C6255;
    font-size: 14px;
    min-width: 16px;
    text-align: center;
}

footer section.contact ul.list a {
    text-decoration: none;
    color: #3C6255;
    font-size: 14px;
    width: 100%;
}

footer section.social-media ul.list a {
    text-decoration: none;
    color: #3C6255;
    font-size: 14px;
    width: 100%;
}

footer section.whatsapp {
    display: none;
}


/* Celus más grandes */

@media (min-width: 481px) {

    /* Footer */

    footer section {
        width: 50%;
    }

    footer section.navigation ul.nav-menu {
        flex-direction: column;
    }

}


/* Tablets y netbooks */

@media (min-width: 769px) {

    /* Footer */

    footer section.navigation,
    footer section.social-media {
        width: 20%;
    }

    footer section.payment-options,
    footer section.contact {
        width: 30%;
    }

    footer section.whatsapp {
        display: block;
    }
    
    footer section.whatsapp a {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all 0.5s;
        animation: move-up-whatsapp 2s 1;
        animation-delay: 8s;
    }

    footer section.whatsapp i {
        margin: auto;
    }
    
    /* Anulo rotación del ícono y habilito movimiento del link */

    footer section.whatsapp a:hover i { 
        transform: rotate(0deg);
    }

    footer section.whatsapp a:hover {
        bottom: 50px;
    }

}


/* Notebooks */

@media (min-width: 1024px) { }


/* Animaciones */

@keyframes move-up-whatsapp {
    0% {
        bottom: 40px;
    }

    50% {
        bottom: 60px;
    }

    100% {
        bottom: 40px;
    }
}