/* Global settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Eliminamos colores en los links visitados */

header a:visited {
    color: #3C6255;
}


/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 165px;
    background-color: #F4EAD5;
    z-index: 1000;
}


/* Transición general para íconos */

header i {
    position: relative;
    bottom: 0px;
    transition: all 0.3s;
}

header a:hover i {
    bottom: 3px;
}

header div.top-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    max-width: 1280px;
    margin: auto;
}

header div.top-header div.first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 95%;
}

header div.top-header div.first-row a img {
    width: 100px;
    border-radius: 5px;
}

header div.top-header div.first-row div.right-icons {
    display: inline-block;
}

header div.top-header div.first-row div.right-icons a {
    scale: 1.3;
    padding-inline: 10px;
    color: #3C6255;
    display: inline-block;
}

header div.top-header nav.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 15px 10px;
}

header div.top-header div.first-row ul.nav-menu-top {
    display: none;
}

header div.top-header nav.navbar ul.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
}

header div.top-header nav.navbar ul.nav-menu i {
    animation: move-up 1s 1;
    animation-delay: 5s;
}

header div.top-header nav.navbar ul.nav-menu li a {
    text-decoration: none;
    color: #3C6255;
    font-weight: bold;
}

header div.top-header form.search-form {
    width: 95%;
    text-align: center;
    position: relative;
}

header div.top-header form.search-form input {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: white;
}

header div.top-header form.search-form button {
    border: none;
    background: none;
    position: absolute;
    right: 5px;
    top: 6px;
    cursor: pointer;
    animation: move-right 10s infinite;
    animation-delay: 3s;
}


/* Celus más grandes */

@media (min-width: 481px) {}


/* Tablets y netbooks */

@media (min-width: 769px) {}


/* Notebooks */

@media (min-width: 1024px) {

    /* Header */

    header {
        background-color: #F4EAD5;
        height: 115px;
    }

    header div.top-header div.first-row ul.nav-menu-top {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        width: 80%;
        max-width: 500px;
        padding-inline: 10px;
    }

    header div.top-header div.first-row ul.nav-menu-top i {
        animation: move-up 1s 1;
        animation-delay: 5s;
    }

    header div.top-header div.first-row ul.nav-menu-top li a {
        text-decoration: none;
        color: #3C6255;
        font-weight: bold;
    }

    header div.top-header nav.navbar {
        display: none;
    }

    header div.top-header form.search-form input {
        font-size: 14px;
    }

}

/* Animaciones */

@keyframes move-up {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 5px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes move-right {
    0% {
        right: 5px;
    }

    5% {
        right: 10px;
    }

    10% {
        right: 5px;
    }
}