/* Global settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #3C6255;
    background-color: #FFFBE9;
    min-height: 100vh;
}


/* Eliminamos colores en los links visitados */

main a:visited {
    color: #3C6255;
}


/* Main */

main {
    margin-top: 165px;
}

main section {
    max-width: 1280px;
    margin: auto;
}

main h3.section-title {
    margin: 10px;
    margin-block: 25px;
    text-align: center;
}

main h3.section-title:before {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}

main h3.section-title:after {
    content: "";
    display: inline-block;
    border-top: 1px solid #3C6255;
    width: 20%;
    margin: 8px;
}


/* Banner */

main section.banner img {
    width: 100%;
}


/* Categorías */

main section.categories div.categories-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 5px;
    margin-inline: 5px;
}

main section.categories div.categories-list article {
    width: 20%;
    text-align: center;
    padding: 5px;
    position: relative;
    bottom: 0px;
    transition: all 0.5s;
}

main section.categories div.categories-list article:hover {
    bottom: 7px;
}

main section.categories div.categories-list article a {
    text-decoration: none;
    color: #3C6255;
}

main section.categories div.categories-list img {
    border-radius: 50%;
    width: 100%;
}

main section.categories div.categories-list p {
    margin: 5%;
    font-weight: bold;
    font-size: 12px;
}


/* Más vendidos */

main section.top-sellers div.products {
    display: flex;
    flex-wrap: wrap;
    margin-inline: 5px;
}

main section.top-sellers div.products article {
    padding: 10px;
    width: 98%;
    margin: 2%;
    align-self: center;
    background-color: #DAE2B6;
    border-radius: 5px;
}

main section.top-sellers div.products article a {
    text-decoration: none;
    color: #3C6255;
}

main section.top-sellers img {
    width: 100%;
    border-radius: 10px;
}

main section.top-sellers div.products article p,
main section.top-sellers div.products article h4 {
    padding-top: 8px;
}

main section.top-sellers div.products article div.main-article {
    position: relative;
}

main section.top-sellers div.products article button {
    opacity: 0.7;
    background-color: #FFFBE9;
    border: none;
    border-radius: 5px;
}

main section.top-sellers div.products article button.favorite {
    position: absolute;
    right: 42px;
    bottom: 63px;
}

main section.top-sellers div.products article button.cart {
    position: absolute;
    right: 5px;
    bottom: 63px;
}

main section.top-sellers div.products article div.main-article i {
    padding: 5px;
    font-size: 20px;
    color: #3C6255;
}


/* Contacto */

main section.contact div.contact-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

main section.contact form.contact {
    display: flex;
    flex-direction: column;
    margin: 5px 15px 20px;
    width: 100%;
}

main section.contact form.contact input,
main section.contact form.contact textarea {
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

main section.contact form.contact button {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 5px;
    color: #3C6255;
    background-color: #CCD6A6;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

main section.contact form.contact button:hover {
    filter: brightness(85%);
}

main section.contact form.contact button:active {
    top: 2px;
}

main section.contact ul.list {
    display: none;
}



/* Celus más grandes */

@media (min-width: 481px) {

    /* Main */

    main section.categories div.categories-list p {
        font-size: 14px;
    }

    main section.top-sellers div.products article {
        width: 48%;
        margin: 1%;
    }

    main section.contact form.contact {
        flex-direction: column;
    }

    main section.contact ul.list {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    main section.contact ul.list a {
        text-decoration: none;
        color: #3C6255;
    }

    main section.contact ul.list a i {
        transition: all 0.5s;
    }

    main section.contact ul.list a:hover i {
        transform: rotate(360deg);
    }

    main section.contact ul.list li {
        font-size: 16px;
        margin-bottom: 6px;
        margin-left: 4px;
        white-space: nowrap;
    }

    main section.contact ul.list li i {
        text-align: center;
        min-width: 15px;
    }

}


/* Tablets y netbooks */

@media (min-width: 769px) {

    /* Main */

    main section.categories div.categories-list p {
        font-size: 16px;
    }

    main section.top-sellers div.products article {
        width: 24%;
        margin: 0.5%;
    }

    main section.top-sellers div.products article {
        box-shadow: 0px 0px 0px rgb(100, 100, 100);
        transition: all 0.5s;
    }

    main section.top-sellers div.products article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section.top-sellers div.products article button {
        opacity: 0.25;
        transition: all 0.5s;
    }
    
    main section.top-sellers div.products article:hover button {
        opacity: 1;
    }
        
    main section.top-sellers div.products article button:hover {
        bottom: 68px;
    }

    main section.contact form.contact input,
    main section.contact form.contact textarea {
        font-size: 14px;
    }

    main section.contact form.contact button {
        font-size: 14px;
    }

}


/* Notebooks */

@media (min-width: 1024px) {

    /* Main */

    main {
        margin-top: 115px;
    }

    /* Banner */

    main section.banner img {
        width: 100%;
    }

}