<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
        <title>Vivero Federal: Login</title>
        <link rel="stylesheet" href="../css/users/login.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main>

            <section class="login">

                <h3 class="section-title">Iniciar sesión</h3>

                <form class="login" action="#" method="POST">

                    <!-- Campos -->
                    <input type="text" name="userName" id="userName" placeholder="Usuario" required="">
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>

                    <div class="remember-me">
                        <input type="checkbox" value="rememberMe" id="rememberMe" name="rememberMe">
                        <label for="rememberMe"> Recordarme</label>
                    </div>

                    <!-- Botón -->
                    <button type="submit" name="login">Iniciar sesión</button>
                    <a href="/users/login">
                        <p>¿Olvidaste tu contraseña?</p>
                    </a>

                </form>

            </section>

            <section class="register">

                <h3 class="section-title">Registrarse</h3>

                <form class="register" action="/register" method="POST">

                    <!-- Campos -->
                    <input type="text" name="userName" id="userName" placeholder="Usuario" required>
                    <input type="email" name="email" id="email" placeholder="Correo" required>
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    <input type="password" name="passwordConfirmation" id="passwordConfirmation"
                        placeholder="Confirmar contraseña" required>

                    <!-- Botón -->
                    <button type="submit" name="register">Registrarme</button>

                </form>

            </section>

        </main>

        <%- include('../partials/footer.ejs') %>

</body>

</html>