<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
        <title>Vivero Federal: Login</title>
        <link rel="stylesheet" href="/css/users/panel.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <section class="profile">

            <h3 class="section-title">Listado de usuarios</h3>

            <div class="list">



            </div>

        </section>

    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>